body{
    margin: 5;
    padding: 0;
}

.menu >span {
    margin: 0px;
    width: 20%;
    height: 30px;
    display: inline-block;
    color: #000;
    background-color: burlywood;
    position: relative;
    text-align: center;
    line-height: 30px;
}
.menu span:hover { 
    background-color: chartreuse;
    color: cornsilk;
}

.menu >span:hover .sub_Navitems { 
    background-color: blueviolet;
    color: white;
}
.sub_Navitems{
    display: none;
}
.sub_Navitems span {
    display: block;
    position: absolute ;
    background-color: darkgoldenrod;
    min-width: 100%;
    margin: 0;
}